html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Slightly off-white background for better visibility */
}

.divider {
  width: calc(100% - 40px);
  height: 1px;
  background-color: #333;
  margin: 20px auto;
  margin-top: 30px;
  margin-bottom: 0px;
}

#typingCanvas {
  --padding: 20px;

  width: calc(100% - 2 * var(--padding));
  height: calc(100% - 2 * var(--padding));

  border: none;
  outline: none; /* Removes the default focus outline */
  background: transparent; /* Makes the textarea background transparent */
  margin: 0;
  padding: var(--padding); /* Adds some padding for better text positioning */
  resize: none;
  font-family: "Kiwa Serif Kerned", serif;
  font-size: 20px;
  color: #333; /* Darker text color for better contrast */
  line-height: 1.5;
}

/* Ensuring the cursor is always visible */
#typingCanvas:focus {
  outline: none; /* Removes the outline to keep the interface clean */
}

@font-face {
  font-family: "Kiwa Serif Kerned"; /* 원하는 폰트 이름 지정 */
  src: url("./fonts/Kiwa.otf"); /* 폰트 파일의 경로 지정 */
}
